//- Link tags in the head.

link(
	rel="icon"
	href="../dist/assets/img/favicon.ico"
)
link(
	rel='stylesheet'
	type='text/css'
	href='//fonts.googleapis.com/css?family=Bitter|Lato'
)

//- The build:css is for gulp-html-replace
// build:css
link(
	rel='stylesheet'
	type='text/css'
	href='lib/webfont/styles.css'
)
link(
	rel='stylesheet'
	type='text/css'
	href='assets/css/app.css'
)
<!-- endbuild -->
	
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
